{:paths ["src/clojure"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 
 :aliases
 {:test {:extra-paths ["test/clojure"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
  
  :run {:main-opts ["-m" "reversible-meta-synthesis.core"]}
  
  :examples {:extra-paths ["examples/clojure"]
             :extra-deps {}}
  
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}}}
